@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

body{
    background-color: #7dc4f4;
}

h1{
    color: #f4e97d;
    font-family: 'Fascinate', cursive;
    font-size: 46px;
    font-weight: 300;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.login{
    background-color:white;
    padding-bottom: 15px;
    border-radius: 8px;
    width: 40%;
    margin: auto;
    filter: drop-shadow(10px 7px 5px #f4e97d);
}

.header{
    font-family: 'Fascinate', cursive;
    font-size: 22px;
    color: Black;
}

.button{
    width: 30vh;
    height: 50px;
    border: none;
    border-radius: 25px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    margin: auto;;
}

.icons{
    font-size: 36px;
    padding-left: 5px;
    padding-top: 5px;
}

.buttonText{
    font-size: 16px;
    padding-right: 45px;
    font-family: 'Century Gothic';
    font-weight: bold;
    letter-spacing: 0.4px;
}

.button:hover{
    background-color: #7dc4f4;
    color: white;
}

@media screen and (max-width: 667px) {
    h1{
        font-size: 32px;
    }
    .header{
        font-size: 18px;    
        margin-top: 10px;
    }
    .login{
        width: 80%;
    }
    .button{
        width: 25vh;
        height: 45px;
    }
    .buttonText{
        font-size: 13px;
        padding-right: 30px;
    }
    .icons{
        font-size: 28px;
    }
}