body {
  text-align: center;
}

.todoContainer {
  width: 40%;
  margin: auto;
}

.noTodos {
  width: 60%;
  margin: auto;
}

h3 {
  font-size: 28px;
  color: #f4e97d;
  font-family: "Fascinate", cursive;
}

.spinner{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

@media screen and (max-width: 667px) {
  .todoContainer {
    width: 90%;
  }
  .todos {
    margin-right: 0px;
  }
  h3 {
    font-size: 20px;
  }  
}

input:focus,
button:focus {
  outline: none;
}
