body{
    text-align: center;
}

.todoContainer{
    width: 40%;
    margin: auto;
}

@media screen and (max-width: 667px) {
    .todoContainer {
      width: 90%;
    }
    .todos {
      margin-right: 0px;
    }
  }
  input:focus,
  button:focus {
    outline: none;
  }