@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 5px;
  color: black;
}

form input {
  width: 100%;
  border-radius: 5px;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-family: "Century Gothic", sans-serif;
  font-weight: 600;
  filter: drop-shadow(5px 6px 8px #f4e97d);
  border: none;
  height: 25px;
}

.inputContainer {
  margin-bottom: 20px;
}

.buttonContainer {
  text-align: center;
  margin-bottom: 10px;
}

.add-button {
  background-color: #f4e97d;
  width: 30%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  font-family: "Fascinate", cursive;
  border: 0.5px;
  margin-top: 15px;
}
.icon {
  font-size: 32px;
  color: black;
}

.Toastify__progress-bar.Toastify__progress-bar--animated.Toastify__progress-bar-theme--light.Toastify__progress-bar--error {
  background-color: #f4e97d;
}

:root {
  --toastify-font-family: "Century Gothic" !important;
  --toastify-color-error: black !important;
  --toastify-text-color-light: black !important   ;
}

.addTodoForm {
  margin-top: 15px;
}

@media screen and (max-width: 667px) {
  .Toastify__toast.Toastify__toast-theme--light.Toastify__toast--error.Toastify__toast--close-on-click {
    width: 70%;
    margin: auto;
  }
}
