.todos{
    margin-top: 20px;
    background: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos input{
    cursor: pointer;
    width: 60%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-family: 'Century Gothic';

  }

#i{
    font-size: 35px;
}

.buttonDelete,
.buttonComplete,
.buttonEdit{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
}

.buttonComplete,.buttonEdit{
    margin-right: 5px;
}

.icon{
    font-size: 32px;
}

@media screen and (max-width: 667px) {
    .todosContainer {
      width: 90%;
    }
    .todos input{
        font-size: 16px;
        height: auto;
    }
    .buttonComplete,.buttonEdit{
        margin-right: 0px;
    }    
    .actionsContainer{
        margin-right: 0px;
    }
    .buttonContainer button{
        width: 30%;
        font-size: 20px;
    }
    .icon{
        font-size: 26px;
    }
  }
  input:focus,
  button:focus {
    outline: none;
  }